<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <!-- <h1>Main Pagerrr</h1> -->
    
    
    <!-- <img src="static/images/1.jpeg" alt=""> -->
    <!-- <img src="/static/images/1.jpeg" alt=""> -->

    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a href="/" class="navbar-brand">Blogapp</a>
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a href="/blogs" class="nav-link">Blog Listesi</a>
              </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-4">
          <div class="list-group">
            <a href="" class="list-group-item list-group-item-aciton active">Web Development</a>
            <a href="" class="list-group-item list-group-item-aciton ">Mobile Apps</a>
            <a href="" class="list-group-item list-group-item-aciton ">Data Analysis</a>
            <a href="" class="list-group-item list-group-item-aciton ">Programming</a>
          </div>
        </div>
        <div class="col-md-8">
            <h1 class="h3 mb-3">Blog List</h1>
          <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/images/1.jpeg" alt="" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Complete Applied Web Development</h5>
                        <p class="card-text">'Web Development' from scratch to advanced level: Html, Css, Sass, Flexbox, Bootstrap, Javascript, Angular, JQuery, Asp.Net Mvc&Core Mvc</p>
                    </div>
                </div>
            </div>
           
          </div>


          <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/images/2.jpeg" alt="" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Advanced Python Programming from Scratch with Python</h5>
                        <p class="card-text">Advanced Python Lessons from Scratch. Database, Data Analysis, Bot Writing, Web Development (Django)</p>
                    </div>
                </div>
            </div>
           
          </div>


          <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/images/3.jpeg" alt="" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Advanced Modern Javascript Lessons from Scratch ES7+</h5>
                        <p class="card-text">Build a solid foundation for Nodejs, Angular, React and VueJs with modern javascript lessons (ES6 & ES7+).</p>
                    </div>
                </div>
            </div>
           
          </div>

          <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/images/4.jpeg" alt="" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Hands-on React Development from Scratch: Hooks, Redux & Firebase</h5>
                        <p class="card-text">
                            Learn the most popular frontend library, React, from start to finish with hands-on projects. Hooks, Redux, Webpack, Firebase and More.</p>
                    </div>
                </div>
            </div>
           
          </div>

       
           <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a href="" class="page-link">Previous</a>
                </li>
                <li class="page-item active">
                    <a href="" class="page-link">1</a>
                </li>
                <li class="page-item">
                    <a href="" class="page-link">2</a>
                </li>
                <li class="page-item">
                    <a href="" class="page-link">3</a>
                </li>
                <li class="page-item">
                    <a href="" class="page-link">Next</a>
                </li>
            </ul>
           </nav>

        </div>
      </div>
    </div>
</body>
</html>